/**
 * Place your custom CSS styles here.
 **/

.extension-album-info-box {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 2px;
}

.extension-album-info-box .addToPlaylistBtn {
  display: inline-block;
  margin: 0 5px;
}

.extension-album-info-box .tag{
  display: inline-block;
  padding: 2px;
  margin: 2px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
}

.extension-album-info-box .time{
  font-weight: bold;
  display: inline-block;
}

.extension-album-info-box.in-user-wishlist {
  border: 1px solid red;
  background-color: lightpink;
}
